.bookjacket {
    width: 170px;
    height: 70px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.bookjacket:hover {
    box-shadow: -10px 20px 35px rgba(0, 0, 0, 0.15);
}

.bookjacket .book-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.bookjacket .title {
    margin: 0;
    color: #71abea;
    font-weight: 600;
    font-size: 15px;

}

.bookjacket .author-name {
    margin: 5px;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;

}

.bookjacket-image-container {
    display: inline-block;
    /* width: 50%; */
}
