.bookItem-container {
    display: flex;

    /* justify-content: center; */
}

.bookItem-container-right {
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
}

.line-drawing {
    width: 100%;
    border-radius: 2px;
    background-color: black;
    height: 1px;
}

.author-comment-name {
    font-size: 16px;
}

.review-information {
    opacity: 50%;
    margin-left: 1rem
}
