.login_container {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: rgba(23, 193, 181, 0.2);
    justify-content: space-evenly;
    margin: auto;
    height: 82vh;

}

.login_container img {
    /* margin-left: 50px; */
    /* margin-top: 20px; */
}

.login_form .ant-input::placeholder {
    color: var(--text-color);
}

.login_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}



.form_title {
    display: flex;
    align-items: center;
}

.form_title h1 {
    font-weight: 400;
    font-size: 60px;
    color: rgba(34, 73, 87, 1);
    margin-left: 33px;
}


.form_login h1 {
    text-align: center;
    margin-bottom: 12px;
}

.form_login p {
    margin-bottom: 12px;
}

#basic_password {
    background-color: var(--text-color-main) !important
}
