@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Poppins&display=swap');

.ant-checkbox-inner {
    border-radius: 5px;
    background: #224957 !important;
}

.homebody-containerFather {
    background-color: rgb(209, 246, 243);
    height: calc(100% - 80px);
    max-width: 100%;

}

.homebody-container {
    display: flex;
    background-color: rgb(209, 246, 243);
    padding: 2rem 0px 2rem 0px;

}

.homebody-container--itemLeft {
    padding-right: 50px;
    flex: 1
}

.home-container-itemRightHeader--title {
    color: #224957;
    text-align: center;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 64%
}

.homebody-container--itemRight {
    flex: 2
}

.home-container-itemRightHeader--message {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 143px;
}

.home-container-itemRightHeader--fontstyle {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: normal;
}

.home-container-itemRightHeaderMessage--title {
    width: 80%;
    font-size: 24px;
    padding-bottom: 1rem !important;
}

.home-container-itemRightHeaderMessage--description {
    width: 80%;
    font-size: 14px;
}

.homebody-containerItemRight--body {}

.homebody-containerItemRightBody--selection {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
