{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                }
            }
        ],
        "transform-class-properties",
        "istanbul"
    ]
}
