.description-containner1 {
    display: flex;
    padding-top: 1%;
    width: 100%;
    height: 80%;
    font-size: 30px !important;
}

.ant-image {
    display: inline-block;

    width: 30%;

}

.image {
    height: auto !important;
    width: 100%;
    object-fit: fill;
}

.hero-infor {
    padding-bottom: 10px;

}

.edit-button {}

.author-book-list {
    display: flex;
    flex-wrap: wrap;
}
