.review-post {
    margin-top: 10px;
    border: 2px solid #ccc !important;
    padding: 0.01em 16px;
    border-radius: 16px;
    background-color: var(--background-color-white);
    width: 550px;
}

/* Heading Post */

.review-post .heading-post {
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.review-post .heading-post--right {
    display: flex;
    flex-direction: row;
    height: 30px;
    column-gap: 12px
}

.review-post .heading-post .status-title {
    font-size: 16px;
    margin-left: 20px;
}

.review-post .heading-post .list-star {
    list-style: none;
    display: flex;
    gap: 5px;
}

.bold-divider {
    margin: 0;
    padding: 0;
    border-top: 1.8px solid black;
    /* Điều chỉnh độ đậm bằng cách thay đổi độ rộng và màu sắc */
}

.footer .commenting {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.footer .commenting .avartar-commenting {
    width: 200px;
    height: 46px;
}
