    @import url('../../../pages/UserHome/userhome.css');
    /* @import url('/FE/src/pages/UserHome/userhome.css'); */


    .general-profile--containner {
        margin: auto;
        width: 75%;
    }

    .description-containner1 {
        display: flex;
        padding-top: 1%;
        width: 100%;
        height: 80%;
        font-size: 30px !important;
    }

    .ant-image {
        /* display: block; */
        position: sticky;
        top: 0;
    }

    .image-ant {
        height: auto !important;
        width: 100%;
        object-fit: fill;
        position: sticky;
        border-radius: 8px;
    }

    .hero-infor {
        padding-bottom: 10px;
    }

    .edit-button {}

    .author-book-list {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-footer--list {
        padding-top: 2rem;
        padding-left: 10%;
        background-color: var(--background-color-white);
        padding-right: 1rem;
    }

    .description-containner1 .friend {
        position: sticky;
        top: 0;
    }

    .description-containner1 .book-friend {}

    .description-containner1 .friend-list {
        padding-left: 1rem;

    }

    .description-containner1 .friend-title {
        border-bottom: var(--border-bottom-divider);
        margin: 8px;
    }
