    @import url('../../../pages/UserHome/userhome.css');
    /* @import url('/FE/src/pages/UserHome/userhome.css'); */

    .description-containner1 {
        display: flex;
        padding-top: 1%;
        width: 100%;
        height: 80%;
        font-size: 30px !important;
    }

    .ant-image {
        display: block;

    }

    .image-ant {
        height: auto !important;
        width: 100%;
        object-fit: fill;
        position: sticky;
    }

    .hero-infor {
        padding-bottom: 10px;
    }

    .edit-button {}

    .author-book-list {
        display: flex;
        flex-wrap: wrap;
    }

    .profile-footer--list {
        padding-left: 30%;
    }
