/* .search-page-containner {
    width: 100%;
    position: relative;
    height: 100%;
}

.search-page-body {
    position: absolute;
    width: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
} */
.search-pagination {
    margin-top: 2rem;
    margin-bottom: 2rem;
    right: 0px
}

.friend-search-container {
    /* margin: auto; */
    background-color: var(--background-color-white);
    width: 700px;
}
