.avartarTime {
    width: 200px;
    height: 70px;
    display: flex;
    flex-direction: row;
}

.avartarTime .name-time {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.avartarTime .name-time .name {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
}

.avartarTime .name-time .time {
    margin: 0;
    font-size: 13px;
}
