/* p {
    margin-top: 2rem;
    margin-bottom: 1rem;
} */

.model-review-post-containner {
    font-size: 14px;
    border: 2px solid #ccc;
    width: 60%;
    min-width: 800px;
    margin: 0rem 20% 1rem 20%;
    padding: 2rem;
    background-color: white;
    border-radius: var(--border-radius-containner);
}

.shelf-change-containner {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
