*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.market-book-container {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    
}

/* Header search */

.header-search{
    display: flex;
    justify-content: space-between;
    margin: 30px 0 ;
}

/* Body search book */

.body-search-book{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 75vh;
}

.body-search-book .author-category {
    padding: 0px 40px;
    background-color: #eeeeee;
    border-radius: 10px;
}

h2{
    margin: 20px;
}

.body-search-book .author-category .author-list{
    list-style: none;
    padding: 20px;
}

.body-search-book .author-category .author-list .author-name {
    padding: 5px;
}

.body-search-book .title-search .search-result{
    flex: 0 0 80%;
    width: 750px;
    border-radius: 5px;
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
}

.body-search-book .title-search .search-result p {
    display: flex;
    font-size: 15px;
    align-items: center;
   
}

.body-search-book .book-list {
    margin-top: 20px;
    list-style: none;
}

.footer{
    margin: 10px auto;
}