.avartar {
    min-width: 70px;
    height: 46px;
    display: flex;
    flex-direction: row;
    row-gap: 27px;
    justify-content: space-between;
}

.avartar .name {
    margin: auto;
    font-weight: 600;
    font-size: large;
}
